    /* ! header */

    ._headertext {
        font-family: 'Press Start 2P', cursive;
        color: rgb(221, 54, 54);
        border: 4px dashed rgb(221, 54, 54);
        border-radius: 5px;
        padding: 5px;
    }

    /* ! game stats */

    #_gamestats {
        background-color: rgba(0, 0, 0, 0.808);
        border-radius: 5px;
        padding: 5px;
    }

    /* ! new game button */

    ._newgamebttn {
        font-family: 'Press Start 2P', cursive;
        font-size: 20pt;
        text-align: center;
        display: inline-block;
        font-weight: bold;
        padding: 10px 0 10px 10px;
        background-color: rgb(241, 187, 86);
        text-shadow: -1px -1px black, 1px 1px white;
        color: orangered;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -o-border-radius: 7px;
        border-radius: 7px;
        box-shadow: 0 .2em orangered;
        cursor: pointer;
    }

    ._newgamebttn:active {
        box-shadow: none;
        position: relative;
        top: .2em;
    }

    /* ! hangman letter */

    ._hangmanletter {
        font-family: 'Bungee', cursive;
        color: orange;
        font-size: 35px;
    }